
# -- --------------------------------------------------------------------------------------------------- -- #
# -- project: Asset Pricing Theory and Roll model empirical definition                                   -- #
# -- requirements.txt : Text file with the required libraries for the project                            -- #
# -- author: @bmanica                                                                                    -- #
# -- license: GNU General Public License v3.0                                                            -- #
# -- repository: https://github.com/bmanica/aptmodel-lab2.git                                            -- #
# -- --------------------------------------------------------------------------------------------------- -- #

pandas>=1.1.0
numpy>=1.19.1
jupyter>=1.0.0
chart_studio>=1.1
plotly>=4.14
statsmodels>=0.13.2
